/* SaveAsPDFButton.css */

.PDFButton {
    position: absolute;
    right: 5%;
    width: 10vw;
    height: 4vh;
    color: #4f4f4f;
    background-color: #d9d9d9;
    border-color: transparent;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.8vw;
    margin-top: 0.8vh;
}

/* This will apply to the pdfContent in all cases */
.pdfContent {
    /* Your regular styles go here */
}

/* This will only apply to the pdfContent when printing */
@media print {
    .pdfContent {
        /* Your print styles go here */
        width: 210mm; /* A4 width */
        height: 297mm; /* A4 height */
    }
    .print-mode {
        /* Your print styles for SaveAsPDFButton go here */
        width: 1080px; /* A4 width */
        height: 1920px; /* A4 height */
    }
}

/* This will apply to the pdfContent when the SaveAsPDFButton is pressed */
.print-mode {
    width: 1080px; /* A4 width */
    height: 1920px;
}
