.tabs-container {
  width: 100%;
  /* This container holds all the tabs and their content, setting a fixed height */
}

.tabs {
  font-size: 2vh;
  display: flex;
  font-weight: bold;
  /* Styles the row of tabs, making them bold and evenly spaced */
}

.tab {
  height: 4vh;
  width: 20vh;
  cursor: pointer;
  border: 1px solid black;
  border-bottom: 2px solid black;
  background-color: #f1f1f1;
  margin-bottom: 1px;
  
  /* Centering content within each tab */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Additional styles to make the tabs interactive and visually distinct */
}



.tab.active {
  border-bottom: 4px solid black; /* Highlights the currently active tab */
}


.tab-content {
  height: 80vh;
  /* Defines the area where content related to each tab is displayed */
}