.tableArea {
    display: flex;
    justify-content: center;
}



.TimesheetArea {
    width: 85%;
}


.EmpName {
    font-size: 2vw;
    font-weight: bold;
    margin-left: 8vw;
    text-decoration: underline;
}   