.tableArea {
<<<<<<< HEAD
  display: flex;
}

.ImgArea {
  width: auto;
  margin-right: 3vw;
  margin-left: 1vw;
  margin-top: 2vh;
}
.ProfImg {
  max-height: 200px;
  height: 17vh;
=======
    display: flex;
    justify-content: center;
>>>>>>> 2fad5152bd70fe3d628c803052cb00d76b3cbc74
}

.TimesheetArea {
  width: 100%;
}

.EmpName {
<<<<<<< HEAD
  font-size: 2vw;
  font-weight: bold;
  margin-left: 1vw;
  text-decoration: underline;
}
=======
    font-size: 2vw;
    font-weight: bold;
    margin-left: 8vw;
    text-decoration: underline;
}   
>>>>>>> 2fad5152bd70fe3d628c803052cb00d76b3cbc74
