.Week-of {
  display: flex;
  justify-content: center; /* Centers the WeekPicker horizontally */
  width: 100%; /* Ensures the container takes full width */
}

.center-container {
  flex-grow: 1; /* Makes the container grow to fill available space */
  display: flex;
  justify-content: center; /* Centers the WeekPicker horizontally */
}

.GenericButtons {
  position: absolute; /* This ensures the button aligns to the right */
  right: 5%;
  width: 10vw;
  height: 4vh;
  color: #4f4f4f;
  background-color: #d9d9d9;
  border-color: transparent;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.8vw;
}

.SaveChangesButton {
  position: absolute; /* This ensures the button aligns to the right */
  right: 5%;
  width: 10vw;
  height: 4vh;
  color: #4f4f4f;
  background-color: #d9d9d9;
  border-color: transparent;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.8vw;
  margin-top: 0.8vh;
}