/* Modal styling for the Add Employee form, setting dimensions and centering it on the screen */
.modal {
    width: 45%;
    height: 50%;
    background-color: #ededed;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border: 0.2vw solid #708090;
  }
  
  /* Styling for the title of the Add Employee form, including margin and color */
  .EmployeeFormTitle {
    margin-top: 10%;
    color: #708090;
  }
  
  /* Layout styling for the Add Employee form, arranging fields in a column */
  .employee-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Input field styling within the Add Employee form, including dimensions and border */
  .employee-form-field {
    width: 20vw;
    height: 4vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
    font-size: 0.9vw;
    border: 0.2vw solid #708090;
    border-radius: 0.2vw;
    background-color: #FFFFFF;
  }
  
  /* Container styling for form action buttons, aligning them centrally */
  .form-buttons {
    display: flex;
    justify-content: center;
  }
  
  /* Cancel button styling within the Add Employee form, including color and border */
  .CancelButton {
    width: 5vw;
    height: 4vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
    font-size: 0.9vw;
    background-color: #708090;
    border: 0.1vw solid #333;
    border-radius: 0.1vw;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 0.2vw;
  }
  
  /* Confirm button styling within the Add Employee form, similar to Cancel but with margin adjustments */
  .ConfirmButton {
    width: 5vw;
    height: 4vh;
    margin-bottom: 1vh;
    margin-right: 1.5vw;
    margin-top: 1vh;
    font-size: 0.9vw;
    background-color: #708090;
    border: 0.1vw solid #333;
    border-radius: 0.1vw;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 0.2vw;
  }
  
  .EditButton{
    width: 1.5vw;
    margin-left: 0.6vw;
  }
  
  .edit-btn {
    border: 0;
    font-weight: bold;
    text-align: center;
    background: none; 
    cursor: pointer;
  }
  /* Metadata comment indicating the creator and last edit date of the file */
  /*Created and last edited by Seif Ikbarieh on 2/25/2024.*/