.Body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  text-align: center;
}

.logo {
  width: 25vw;
  margin-bottom: 5vh;
}

.Login_Username[type="text"],
.Login_Password[type="password"] {
  min-width: 200px;
  width: 30.531vw;
  height: 10.187vh;
  padding: 12px 20px;
  margin: 8px 0; /* This will center the input boxes */
  display: block;
  border: 1px solid #373740;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 1vw;
}

.loginbutton {
  width: 16.395vw;
  height: 5.607vh;
  background-color: #de0000;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: .5vw;
  font-size: 0.9vw;
  font-weight: bold;
}

button:hover {
  opacity: 0.8;
}

.PasswordRecovery {
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  display: flex;
  justify-content: center;
  font-size: 0.9vw;
}
