.PasswordRecovery_BackButton {
  font-size: 2vw;
  width: 6vw;
  margin-right: -12vw;
  background-color: transparent;
  border: none;
}

.PasswordRecovery_BackButtonImage {
  font-size: 2vw;
  width: 6vw;
  margin-right: -12vw;
  background-color: transparent;
  border: none;
}

.PasswordRecovery_HeaderContainer {
  display: flex;
  align-items: center;
  background-color: #708090;
}

.PasswordRecovery_Logo {
  width: 20vw;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  margin-left: 38.5vw;
}

button:hover {
  opacity: 0.8;
}

button:pressed {
  opacity: 0.6;
}

.PasswordRecovery_Body {
  font-size: 2vw;
  font-family: "Roboto", sans-serif;
  font-weight: Bold;
  color: #000000;
}
